Package: katw
Version: 1.0-1
Architecture: i386
Maintainer: alex <alexandretk@unknown>
Installed-Size: 889
Depends: libc6 (>= 2.3), libgcc1 (>= 1:4.1.1), libsdl2-2.0-0 (>= 2.0.0), libsdl2-image-2.0-0 (>= 2.0.0), libstdc++6 (>= 4.4.0)
Section: unknown
Priority: optional
Homepage: https://github.com/fgagamedev
Description: Katw from FGA games
 Packaging Katw from FGA games
