Source: katw
Section: unknown
Priority: optional
Maintainer: alex <alexandretk@unknown>
Build-Depends: debhelper (>= 8.0.0),
               cmake,
               clang,
               git-core,
               build-essential,
               libsdl2-dev,
               libsdl2-image-dev,
               libsdl2-mixer-dev,
               libsdl2-ttf-dev,
               zlib1g-dev
Standards-Version: 3.9.4
Homepage: https://github.com/fgagamedev

Package: katw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Katw from FGA games
 Packaging Katw from FGA games
